<%- include('partials/header') -%>


    <div class="container mt-4 " id="homebg">
        <div id="blogbeauty">
            <h1>
                <%=heading%>
            </h1>

            <p>Start posting the new exciting blogs..!!&nbsp; &nbsp; &nbsp; ----> &nbsp; &nbsp;<button class="btn "><a
                        href="/compose">Add
                        Blogs</a></button></p>
        </div>

        <% postarr.forEach(element=> {%>

            <div class="blogcontainer">
                <div class="title">
                    <%=element.posttitle%>
                        <button class="btn btn-success  "><a href="/<%=element.posttitle%>">view</a></button>
                </div>
                <div class="content">
                    <%=element.postbody%>
                </div>
            </div>
            <%}); %>


    </div>


    <%- include('partials/footer') -%>